* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.btn {
    border-radius: 70px;
    font-size: small;
    height: 5vh;
    width: 10vw;
    background-color: rgb(58, 118, 238);
    color: white;
    border: none;
}

.info {
    display: grid;
    grid-template-columns: 30vw;
    grid-template-rows: 15vh 10vh 10vh;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-top: 15vh;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr 10vh;
}

header {
    display: grid;
    grid-template-columns: 10vw 10vw;
    justify-content: space-between;
    align-items: end;
    padding: 2vw;
}

main {
    display: grid;
    grid-template-columns: 40vw 1fr;

    .btn__img {
        height: 2vh;
        padding-left: 1vw;
    }
}

.footer {
    margin-top: 5vh;

    .nav {
        width: 50%;
        display: grid;
        grid-template-columns: 8vw 7vw 7vw 7vw;
        justify-content: center;
        align-items: center;

        &__link {
            text-decoration: none;
            color: #5222D0;
        }
    }
}