* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr 10vh;
}

header {
    display: grid;
    grid-template-columns: 10vw 10vw;
    justify-content: space-between;
    align-items: end;
    padding: 2vw;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .info {
        display: grid;
        grid-template-columns: 30vw;
        grid-template-rows: 30vh 15vh 10vh;
        justify-content: center;
        align-items: center;
    }

    .background_img {
        height: 75vh;
    }
}

nav {
    width: 50%;
    display: grid;
    grid-template-columns: 8vw 7vw 7vw 7vw;
    justify-content: center;

    a {
        text-decoration: none;
        color: #5222D0;
    }
}