* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 70px;
    font-size: small;
    height: 5vh;
    width: 10vw;
    background-color: rgb(58, 118, 238);
    color: white;
    border: none;
}

.cards {
    border: none;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: grid;
    grid-template-columns: 10vw 10vw;
    justify-content: space-between;
    align-items: end;
    padding: 2vw;
}

.main {
    display: grid;
    grid-template-columns: 24.51vw 24.51vw 24.51vw;
    grid-template-rows: 5vh 55vh 25vh;
    justify-content: center;
    gap: 4vw;

    &__heading {
        grid-column: 1/4;
    }

    &__cards {
        border: none;
    }

    .main__cards_orange {
        border: 1px solid orange;
    }

    .card__wrapper-img {
        width: 100%;

        &__Illustration {
            width: 100%;
        }
    }

    .subscription {
        background-color: #EC615B;
        display: grid;
        padding: 1vw;

        &__Name {
            color: white;
        }

        &__mb-3 {
            width: 20vw;
        }
    }
}

.footer {
    margin-top: 5vh;

    .nav {
        width: 50%;
        display: grid;
        grid-template-columns: 8vw 7vw 7vw 7vw;
        justify-content: center;
        align-items: center;

        &__link {
            text-decoration: none;
            color: #5222D0;
        }
    }
}